/* Common style */
body
{
    margin: 0;
    padding: 0;
}

.container
{
    width: 80%;
    margin: 0 auto;
}

.container:after
{
    display: block;
    clear: both;

    content: '';
}

/* Style for header */
header
{
    width: 100%;

    background-color: #e8ebf1;
}

.container.menu
{
    font-family: Lato;
    font-size: 50px;
    font-weight: 900;

    padding-top: 35px;

    color: black;
}

.container.menu span
{
    font-weight: 400;

    color: #2aacc8;
}

.container.menu a
{
    font-family: Arial;
    font-size: 13px;
    font-weight: 700;
    font-weight: 700;
    line-height: 20px;

    display: block;

    margin: 0;
    margin-left: 5px;
    padding: 10px;

    text-decoration: none;
    text-transform: uppercase;

    color: black;
}

.container.menu li
{
    list-style: none;
}

.container.menu ul
{
    float: right;

    margin: 0;
    padding: 0;
}

.container.menu ul li
{
    position: relative;

    display: inline-block;
}

.container.menu li:hover
{
    border-top: 5px solid #2aacc8;
    background-color: white;
}

.container.menu a:hover
{
    color: #2aacc8;
}

.drop
{
    position: absolute;
    top: 100%;

    display: none;

    width: 200px;

    border-bottom: 5px solid #2aacc8;
}

.container.menu ul li:hover .drop
{
    display: block;
}

.container.menu .drop li
{
    display: block;

    border-bottom: 1px solid #e7e7e7;
}

.container.menu .drop li  a
{
    font-weight: 400;
    line-height: 36px;

    margin-left: 0;

    text-transform: none;

    color: black;
    background-color: white;
}

.container.menu .drop li:hover
{
    border-top: none;
}

.container.menu .drop a:hover
{
    color: #2aacc8;
}

.container.menu .drop li:hover .container.menu li
{
    color: #2aacc8;
    border-top: 5px solid #2aacc8;
    background-color: white;
}

.slide
{
    height: 500px;

    background-color: #81e4ed;
}

.slide:before
{
    display: block;

    padding-bottom: 20px;

    content: '';
}

.container.banner
{
    height: 440px;

    background-color: #e05936;
    background-image: url('../img/chat.png');
    background-repeat: no-repeat;
    background-position: 100%;
}

.container.banner h1
{
    font-family: Lato;
    font-size: 50px;
    font-weight: 700;

    float: left;

    width: 295px;
    margin-top: 70px;
    margin-left: 40px;

    color: white;
}

.container.banner .cup
{
    display: block;

    margin-left: 0;
}

.container.circles
{
    font-size: 0;

    text-align: center;
}

.circle
{
    display: inline-block;

    box-sizing: border-box;
    width: 14px;
    height: 14px;
    margin: 15px;

    border-radius: 100%;
    background-color: #626262;
}

.circle.center
{
    background-color: white;
}


.post
{
    float: left;

    width: 215px;
    margin-top: 60px;
    margin-left: 50px;
}

.post:first-child
{
    margin-left: 0;
}

.post:before
{
    display: inline-block;
    float: left;

    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-bottom: 10px;

    content: '';

    border-radius: 50%;
    background-color: #2aacc8;
    background-repeat: no-repeat;
    background-position: center;
}

.post.theme:before
{
    background-image: url('../img/shape-1.png');
}

.post.design:before
{
    background-image: url('../img/shape-2.png');
}

.post.psd:before
{
    background-image: url('../img/shape-3.png');
}

.post.coding:before
{
    background-image: url('../img/shape-4.png');
}

.post h1
{
    font-family: Arial;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;

    margin-top: 10px;
    margin-bottom: 0;

    text-transform: uppercase;

    color: black;
}

.post p
{
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;

    margin-top: 0;
    margin-bottom: 0;

    color: #363636;
}
.post p:before
{
    display: block;
    clear: both;

    padding: 10px;

    content: '';
}


.post a
{
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;

    display: block;

    padding-top: 20px;

    text-decoration: none;

    color: #2aacc8;
}

.post a span
{
    font-weight: 700;

    color: black;
}

.post.theme a,
.post.psd a,
.post.coding a
{
    padding-top: 40px;
}

header:after
{
    display: block;
    clear: both;

    height: 20px;

    content: '' ;
}

/* Style for article */
article:before
{
    display: block;
    clear: both;

    margin-top: 20px;

    content: '' ;
}

.container.latest_work
{
    font-family: Arial;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;

    padding-bottom: 20px;

    text-transform: uppercase;

    color: black;
}

.right,
.left
{
    float: right;

    width: 20px;
    height: 20px;

    text-align: center;

    border-radius: 50%;
    background-color: #81e4ed;
}

.container.latest_work img
{
    margin-right: 20px;
}

.left
{
    margin-left: 10px;
}

.container.images
{
    padding-top: 20px;
    padding-bottom: 40px;

    text-align: center;

    border-top: 1px solid #dfe1e5;
    border-bottom: 1px solid #dfe1e5;
}

.container.images img
{
    display: block;
}

.note,
.lemon,
.figure,
.aim
{
    position: relative;

    display: inline-block;
    float: left;

    margin-right: 40px;
}

.aim
{
    margin-right: 0;
}

.layer
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 220px;
    height: 80px;

    opacity: 0;
    background-color: #2aacc8;
    background-image: url('../img/2-layers.png');
    background-repeat: no-repeat;
    background-position: center;
}

.note:hover .layer,
.lemon:hover .layer,
.figure:hover .layer,
.aim:hover .layer
{
    opacity: 1;
}

.resume
{
    font-size: 0;

    text-align: center;
}

.testi,
.clients
{
    display: inline-block;

    box-sizing: border-box;
    width: 50%;
    margin-top: 20px;

    text-align: left;
    vertical-align: top;
}

.testi h2,
.clients h2
{
    font-family: Arial;
    font-size: 15px;
    font-weight: 700;

    margin-top: 0;
    margin-left: 40px;

    text-transform: uppercase;

    color: black;
}

.testi p
{
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;

    color: #363636;
}

.testi p:last-child
{
    font-weight: 700;
    font-style: italic;
}

.testi img,
.clients img:first-child
{
    float: left;
}

.logo
{
    display: inline;

    width: 33.333333%;
}

.container.download
{
    font-family: Arial;
    font-size: 16px;
    line-height: 26px;

    width: 76%;
    margin-top: 20px;
    padding: 30px;

    color: #363636;
    border: 1px solid #81e4ed;
    background-color: #e8fcfe;
}

.container.download a
{
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    line-height: 58px;

    display: block;
    float: right;

    width: 238px;
    height: 58px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #0d0707;
    border: 1px solid #2aacc8;
    border-radius: 8px;
    background-color: #2aacc8;
    background-image: url('../img/download.png'), linear-gradient(to top, #2aacc8 0%, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    box-shadow: inset 0 2px 1px rgba(255, 255, 255, .1), 0 2px 3px rgba(0, 0, 0, .2);
}

/* Style for footer */
footer
{
    font-family: Arial;

    margin-top: 40px;

    border: 1px solid rgba(0, 0, 0, .15);
    background-color: #e8ebf1;
}

footer li
{
    list-style: none;
}

footer ul
{
    margin: 0;
    padding: 0;
}

footer a
{
    font-size: 14px;
    line-height: 26px;

    text-decoration: none;

    color: #363636;
}

.container.footer
{
    font-size: 0;
}

.about,
.explore,
.browse,
.contact,
.connect
{
    display: inline-block;

    box-sizing: border-box;
    width: 20%;

    vertical-align: top;
}

.explore,
.browse,
.contact,
.connect
{
    padding-left: 30px;
}

.about h3,
.explore h3,
.browse h3,
.contact h3,
.connect h3
{
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;

    padding-top: 30px;

    text-transform: uppercase;
}


.contact p span
{
    font-size: 14px;
    font-weight: 700;

    color: #363636;
}

.contact p
{
    font-size: 14px;

    color: #363636;
}

.connect:after
{
    display: block;
    clear: both;

    width: 1px;
    height: 90px;

    content: '';
}

.container.footer p
{
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;

    color: #363636;
}

.title
{
    font-family: Lato;
    font-size: 50px;
    font-weight: 900;
    line-height: 20px;

    float: right;

    color: black;
}

.title span
{
    font-weight: 400;

    color: #2aacc8;
}
